.u-block-8b42-1 {
  margin-top: 20px;
}

.u-block-8b42-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-8b42-3 {
  position: absolute;
  left: 0;
}

.u-block-8b42-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/slide4.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 537px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 294px 380px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 10px 349px 0 31px;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 265px;
  margin: 25px auto 0 248px;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 69px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 -17px;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1-1 .u-text-1 {
    width: 760px;
    margin-right: 180px;
  }

  .u-section-1-1 .u-text-2 {
    width: 760px;
    margin-left: 0;
    margin-right: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1-1 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-left: 75px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Business-Bay-Dubai.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 231px 380px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 216px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1-2 .u-text-1 {
    width: 760px;
    margin-right: 180px;
  }

  .u-section-1-2 .u-text-2 {
    width: 760px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-1-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    width: 340px;
  }

  .u-section-1-2 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  margin-top: 20px;
  min-height: 1050px;
}

.u-section-2 .u-image-1 {
  height: 890px;
  object-position: 50% 81.55%;
  margin-top: -7px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  filter: brightness(0.75);
}

.u-section-2 .u-list-1 {
  width: 910px;
  margin: -810px auto 60px calc(((100% - 1140px) / 2) + 89px);
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 766px;
  grid-auto-columns: calc(50% - 11px);
}

.u-section-2 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: linear-gradient(#c0c0c0, #f1b5b8);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
  margin: 22px 1px 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 4px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  margin: 34px auto 0 109px;
  padding: 8px 36px 9px 35px;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#c0c0c0, #f1b5b8);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
  margin: 22px 1px 0;
}

.u-section-2 .u-text-4 {
  margin: 22px 4px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  margin: 34px auto 0 109px;
  padding: 8px 36px 9px 35px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: linear-gradient(#c0c0c0, #f1b5b8);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
  margin: 22px 1px 0;
}

.u-section-2 .u-text-6 {
  margin: 22px 4px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  margin: 34px auto 0 109px;
  padding: 8px 36px 9px 35px;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: linear-gradient(#c0c0c0, #f1b5b8);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: currentcolor !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
  margin: 22px 1px 0;
}

.u-section-2 .u-text-8 {
  margin: 22px 4px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  margin: 34px auto 0 109px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    margin-top: -811px;
    margin-left: calc(((100% - 940px) / 2) + 30px);
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 979px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 488px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1004px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 513px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 100vh;
  }

  .u-section-2 .u-image-1 {
    height: 557px;
    margin-top: 501px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -454px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    grid-gap: 10px 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-621b-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-621b-49:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-621b-49:not([data-block-selected]):not([data-cell-selected]).u-block-621b-49:not([data-block-selected]):not([data-cell-selected]).u-block-621b-49:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-621b-54:not([data-block-selected]):not([data-cell-selected]),
.u-block-621b-54:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-621b-54:not([data-block-selected]):not([data-cell-selected]).u-block-621b-54:not([data-block-selected]):not([data-cell-selected]).u-block-621b-54:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
} .u-section-3 {
  min-height: 643px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -79px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1053px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 330px;
  height: 334px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 261px;
  height: 260px;
  margin: 459px 85px 0 22px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 959px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 131px 38px 0 22px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 80px -19px 0 -195px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 1091px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 315px;
  height: 315px;
  margin: 0 38px 0 15px;
}

.u-section-3 .u-image-4 {
  width: 330px;
  height: 334px;
  object-position: 50% 0%;
  margin: 366px 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 516px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 868px;
  }

  .u-section-3 .u-image-1 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 791px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 900px;
  }

  .u-section-3 .u-image-3 {
    width: 266px;
    height: 266px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    height: 298px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 377px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-3 .u-image-1 {
    height: 228px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    width: 204px;
    height: 203px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 689px;
  }

  .u-section-3 .u-image-3 {
    width: 204px;
    height: 204px;
  }

  .u-section-3 .u-image-4 {
    height: 228px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 876px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -65px;
    margin-bottom: -5px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1760px;
  }

  .u-section-3 .u-image-1 {
    height: 346px;
    width: 320px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 1824px;
  }

  .u-section-3 .u-image-4 {
    height: 381px;
    width: 320px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 904px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1108px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 1148px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1042px;
}

.u-section-4 .u-shape-1 {
  height: 697px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-4 .u-shape-2 {
  width: 628px;
  height: 628px;
  margin: -468px calc(((100% - 1140px) / 2) + 162px) 0 auto;
}

.u-section-4 .u-image-1 {
  width: 740px;
  height: 740px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/580b585b2edbce24c47b29e8.png");
  margin: -814px auto 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-4 .u-group-1 {
  min-height: 602px;
  width: 625px;
  height: auto;
  margin: -398px calc(((100% - 1140px) / 2) + -55px) 27px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 32px;
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1098px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -482px;
    margin-right: calc(((100% - 940px) / 2) + 105px);
  }

  .u-section-4 .u-image-1 {
    width: 710px;
    height: 710px;
    margin-top: -771px;
    margin-left: calc(((100% - 940px) / 2) + 63px);
  }

  .u-section-4 .u-group-1 {
    min-height: 486px;
    width: 564px;
    margin-top: -240px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1018px;
  }

  .u-section-4 .u-shape-1 {
    height: 582px;
  }

  .u-section-4 .u-shape-2 {
    width: 508px;
    height: 508px;
    margin-top: -447px;
    margin-right: calc(((100% - 720px) / 2) + 28px);
  }

  .u-section-4 .u-image-1 {
    width: 563px;
    height: 563px;
    margin-top: -586px;
    margin-left: calc(((100% - 720px) / 2) + 44px);
  }

  .u-section-4 .u-group-1 {
    min-height: 551px;
    width: 477px;
    margin-top: -203px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 50px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 754px;
  }

  .u-section-4 .u-shape-1 {
    height: 482px;
  }

  .u-section-4 .u-shape-2 {
    width: 367px;
    height: 367px;
    margin-top: -357px;
    margin-right: calc(((100% - 540px) / 2) + 28px);
  }

  .u-section-4 .u-image-1 {
    width: 435px;
    height: 435px;
    margin-top: -445px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 518px;
    width: 422px;
    margin-top: -130px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 45px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 914px;
  }

  .u-section-4 .u-shape-1 {
    height: 359px;
  }

  .u-section-4 .u-shape-2 {
    width: 264px;
    height: 264px;
    margin-top: -305px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 305px;
    height: 305px;
    margin-top: -264px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-1 {
    min-height: 583px;
    width: 288px;
    margin-top: -58px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 30px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1158px;
}

.u-section-5 .u-list-1 {
  width: 648px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 1098px;
}

.u-section-5 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0 94px;
}

.u-section-5 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 30px 0 0 94px;
}

.u-section-5 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  margin: 30px 0 0 94px;
}

.u-section-5 .u-group-1 {
  width: 550px;
  min-height: 550px;
  height: auto;
  margin: -828px -14px 278px auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 423px;
  width: 523px;
  margin: 80px 10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-right: auto;
  }

  .u-section-5 .u-group-1 {
    width: 470px;
    margin-top: -729px;
    height: auto;
  }

  .u-section-5 .u-image-1 {
    width: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1598px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 26px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 26px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 26px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 26px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 26px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 26px;
  }

  .u-section-5 .u-group-1 {
    width: 520px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1503px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 278px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 275px;
    height: 275px;
    margin-right: 0;
  }
}

.u-section-5 .u-list-item-1,
.u-section-5 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-5 .u-list-item-1 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-5 .u-list-item-2,
.u-section-5 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-5 .u-list-item-2 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-5 .u-list-item-3,
.u-section-5 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-color: #404040 !important;
  border-style: solid !important;
  border-width: 2px !important;
}

.u-section-5 .u-list-item-3 {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0px !important;
} .u-section-6 {
  background-image: linear-gradient(#666666, #db545a);
}

.u-section-6 .u-sheet-1 {
  min-height: 993px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 63px 0 0;
}

.u-section-6 .u-list-1 {
  width: 966px;
  margin: 39px auto 0;
}

.u-section-6 .u-repeater-1 {
  min-height: 69px;
  grid-auto-columns: calc(33.3333% - 26px);
  grid-template-columns: calc(33.3333% - 26px) calc(33.3333% - 26px) calc(33.3333% - 26px);
  grid-gap: 39px 39px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-list-2 {
  width: 966px;
  margin: 0 auto;
}

.u-section-6 .u-repeater-2 {
  min-height: 69px;
  grid-auto-columns: calc(33.3333% - 26px);
  grid-template-columns: calc(33.3333% - 26px) calc(33.3333% - 26px) calc(33.3333% - 26px);
  grid-gap: 39px 39px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-btn-5 {
  border-style: none none solid;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-btn-6 {
  border-style: none none solid;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-list-3 {
  width: 796px;
  margin: 63px auto 60px;
}

.u-section-6 .u-repeater-3 {
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  grid-gap: 40px 40px;
  min-height: 530px;
}

.u-section-6 .u-list-item-7 {
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 30px 0;
}

.u-section-6 .u-list-item-8 {
  background-image: none;
}

.u-section-6 .u-container-layout-8 {
  padding: 20px 0;
}

.u-section-6 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 30px 0;
}

.u-section-6 .u-list-item-9 {
  background-image: none;
}

.u-section-6 .u-container-layout-9 {
  padding: 20px 0;
}

.u-section-6 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(71, 138, 201) !important;
  margin: 10px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 30px 0;
}

.u-section-6 .u-list-item-10 {
  background-image: none;
}

.u-section-6 .u-container-layout-10 {
  padding: 20px 0;
}

.u-section-6 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 30px 0;
}

.u-section-6 .u-btn-7 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 67px;
    grid-auto-columns: calc(33.333333333333336% - 26px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26px));
  }

  .u-section-6 .u-list-2 {
    width: 940px;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 67px;
    grid-auto-columns: calc(33.333333333333336% - 26px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26px));
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 154px;
    grid-auto-columns: calc(50% - 19.5px);
    grid-template-columns: repeat(2, calc(50% - 19.5px));
  }

  .u-section-6 .u-list-2 {
    width: 720px;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 154px;
    grid-auto-columns: calc(50% - 19.5px);
    grid-template-columns: repeat(2, calc(50% - 19.5px));
  }

  .u-section-6 .u-list-3 {
    margin-top: 169px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-list-2 {
    width: 540px;
    margin-top: 847px;
  }

  .u-section-6 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-list-3 {
    margin-top: 69px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-list-2 {
    width: 340px;
    margin-top: 931px;
  }

  .u-section-6 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-list-3 {
    margin-top: -15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-3 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.125rem;
  }
}